{% extends "base_yunjz.html" %}
{%block title%}注册{%endblock%}

{% block content %}
  
    <h2> 注册成为我们的一员吧 </h2>
    {%if form.non_field_errors%}
    <p>{{form.non_field_errors}}</p>
    {%endif%}
    <form action="" method="post" class="form"  role="form">
    {% csrf_token %}
        <div>
            {{form.errors.username}}
            <label>昵称:</label> 
            <input  id="id_username" name="username"  type="text" />
        </div>

        <div>
        {{form.errors.email}}
            <label>邮件:</label> 
            <input id="id_email" name="email" type="email" />
        </div>
        
        <div>
        {{form.errors.password}}
            <label>密码:</label> 
            <input id="id_password" name="password" type="password" />
        </div>
        

        <div>
        {{form.errors.re_password}}
            <label>重复密码:</label> 
            <input id="id_re_password" name="re_password" type="password" />
        </div>
        

    
        <button type="submit" >注册</button>
        <button type='button'  onclick='javascrtpt:window.location.href="{% url 'accounts:login' %}"'>登录</button>
    </form>

{%endblock%}
